@import "./base/variables";
@import "./base/normalize";

@import "./components/header";

@import "./partials/logo";
@import "./partials/prices";
@import "./partials/jedi";
@import "./partials/sith";
@import "./partials/books";
@import "./partials/movies";

@import url("https://fonts.googleapis.com/css?family=Righteous");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Righteous", cursive;
  background: #fdfaf7;
}
